body{
margin: 0;
padding: 0;

}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

.wrapper {
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background: url("bkg5.jpg");
  background-size: auto 100vh;
  background-repeat: repeat-x;
}

.Info, .Experience, .Competence, .Motivation, .Formulaire {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
   /* background-color: burlywood;*/
}

.Experience {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-box {
  text-align: center;
  color:white;
  font-size: 16pt;
  font-family: "";
  width: 1000px;
  background-color: rgba(7, 19, 0, 0.931);
}

