@font-face {
  font-family: "AnimalCrossing";
  src: url("Police/Animal-Crossing-Wild-World.ttf");
}




:root{
  --light: rgb(248, 255, 247);
  --dark-box-opacity:  rgba(7, 19, 0, 0.931);
  --border-box: solid rgb(133, 255, 122) 2px; 
  --height-box: 60vh;
  --padding-box: 8px;
  --width-box: 80vw;
  --font-size: 20pt;
  --little-padding-box: 2%;
  --little-font-size: 15pt;
  --green-color:  rgb(133, 255, 122);
}

body{
  margin: 0;
  padding: 0;
  font-family: "AnimalCrossing", Helvetica, Arial, sans-serif;
}
/*                                                                           NAVBARRE                                                               */
.menu {
  z-index:3;
  text-align: center ;
  position: fixed;
  height: 7%;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: var(--dark-box-opacity);
  font-size: var(--font-size);
}

.menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}

.menu a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.menu a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: var(--border-box);
  border-right: var(--border-box);
}

.menu a:hover,
.menu .current a {
  color: #ffffff;
}
.menu a:hover:before,
.menu .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}

.navHeader {
  display: flex;
  justify-content: space-around;
}

.navHeader li {
  padding-top: 0.4%;
}

.profil {
  position : absolute;
  margin: auto;
  height: 150px;
  width: 150px;
  max-width: 100%;
  max-height: auto;
  
}
/*                                                                           BOX "ARRIERE"                                                               */
.outer-wrapper {
    height: 100vw;
    width: 400vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;            
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-image: url("image/bkg11.png");
    background-size:100vw;
    background-repeat: repeat-x;
}

/*                                                                           FLECHE                                                           */

@keyframes down{
	0% {position:relative; top:0px; opacity: 0}
	50% {position:relative; top:15px; opacity: 0.5}
	100% {position:relative; top:30px; opacity: 1}

}

.flecheInvisible {
  opacity: 0%;
  width: 20%;
}

.placeFleche{
 display: flex;
 flex-direction: row-reverse;
}

.fleche{
	animation: down 1s infinite linear alternate; 
  width: 20%;
}

/*                                                                           BOX DE SECTION                                                             */
.info, .experience, .outer-competence-box, .formulaire {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display : flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    color: var(--light);
}

h2 {
  text-align: center ;
  color: var(--light);
  font-size: 200%;
  text-shadow: rgb(255, 255, 255) 2px 2px 5px;
  text-decoration: none;
}



/*                                                                           INFORMATION                                                               */
.info-box {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 50% 50%;
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
  padding: var(--padding-box); 
}

.info-box p{
  grid-area : 2 / 1 / 3 / 3
}

.info-box ul{
  margin: auto;
  list-style-type:'🌿 '; 
}

.info-box li{
  margin : 2.5vh;
}

.photo {
  margin: 2%;
}

/*                                                                           COMPETENCE                                                               */
.competence-box {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
  overflow: hidden;
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  height: var(--height-box);
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
  padding: var(--padding-box);

}
.competence-titre {
  position: fixed;
}

iframe{
  display: block;
  max-width: 100%;
}

.lil-nav {
  padding: var(--padding-box);
  margin-top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.lil-nav a {
  height: auto;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.lil-nav a:hover {
  color: var(--green-color) ;
  font-size: x-large;
  transition-duration: 500ms;
}

.lil-nav img {
  border: var(--border-box);
  border-radius: 25% 10%;
  width : auto;
}

.gallery {
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


.gallery_video {
  scroll-margin-inline: 24.2vw;
  display: flex;
  justify-content: space-between;
}

/*                                                                           EXPERIENCE                                                               */

.experience-box {
  text-align: left;
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
  padding: var(--padding-box);
}

.experience-titre{
  position : fixed;
}

/*                                                                           FORMULAIRE                                                               */

.formulaire-box{
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  padding: var(--padding-box);
}
form {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
}

form label {
  text-align: left;
  float: left;
}

form input {
  width: 100%;
  margin: 0 0 20px;
  height: 30px;
  background:  var(--dark-box-opacity);
  color:var(--light);
  border: var(--border-box);
}

form textarea {
  width: 100%;
  margin: 0 0 20px;
  height: 120px;
  background:  var(--dark-box-opacity);
  color:var(--light);
  border: var(--border-box);
}

.button {
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  width: 100px;
  float: right;
  box-shadow: 2px 2px #333;
  color: var(--light);
  border: var(--border-box);
  background: var(--dark-box-opacity);
  padding: 4px;
}

h2 {
  text-align: center ;
  color: white;
  font-size: 200%;
  text-shadow: rgb(161, 155, 155) 2px 2px 5px;
  text-decoration: none;
}
.button:hover {
  filter: brightness(115%);
}
.button:active {
  filter: brightness(85%);

}

.error {
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
  color: red;
  font-size: 27pt;
  padding: 8px;
  border-radius:4px;
  margin: 2px;
  list-style: none;
}


/*                                                                           FOOTER                                                               */

.menu-footer {
  bottom: 0;
  text-align: center ;
  position: fixed;
  height: 7%;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: var(--dark-box-opacity);
  font-size: var(--font-size);
}

.menu-footer * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.menu-footer li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}

.menu-footer a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.menu-footer a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: var(--border-box);
  border-right: var(--border-box);
}

.menu-footer a:hover,
.menu-footer .current a {
  color: #ffffff;
}

.menu-footer a:hover:before,
.menu-footer .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.1%;
}

.footerNav li {
  margin-bottom: 0;
}

@media screen and (max-width: 815px) {
  .wrapper {
    background-image: url("image/bkg11.png");
    background-size: auto 100vh;
    background-repeat: repeat-x;
  }

  * p {
    font-size: 14px;
  }

  h2{
    padding:0px;
  }

  .flecheInvisible {
    opacity: 0%;
    width: 50%;
  }

  .fleche{
    animation: down 1s infinite linear alternate; 
    width: 50%;
  }


  .profil {
    display : none;
  }

  .photo {
    height : 100px;
    width : 100px;
    margin: 5%;
 }

 .info-box ul{
  padding-left: 20%;
  margin : 0;
 }

 .gallery_video {
  scroll-margin-inline: 27.5vw;
}

  .lil-nav p {
     display: none;
  }
  

 .button {
   width : 100%;
 }

 li{
    font-size: 14px;
    font-weight: 0%;
  }
 
}
 
 /* RESPONSIVE iPAD PAYSAGE*/
 @media screen 
 and (min-width: 1000px) and (max-width: 1400px)
 and (min-height: 550px) and (max-height: 800px) {
   .profil{
     display: none;
   }
   .wrapper {
    background-image: url("image/bkg11.png");
    background-size: auto 100vh;
    background-repeat: repeat-x;
  }
 }
