@font-face {
  font-family: "AnimalCrossing";
  src: url("Animal-Crossing-Wild-World.ttf");
}

:root{
  --light: rgb(248, 255, 247);
  --dark-box-opacity:  rgba(7, 19, 0, 0.931);
  --border-box: solid rgb(133, 255, 122) 2px; 
  
  --padding-box: 8px;
  --width-box: 1000px;
  --font-size: 27pt;
}

body{
margin: 0;
padding: 0;
font-family: "AnimalCrossing", Helvetica, Arial, sans-serif;
}

header {
  position: relative;
  z-index:3;
  text-align: center ;
  position: fixed;
  height: 3%;
  width: 100%;
  background-color: black;
  padding: 3rem;
}

.profil {
  margin-top: -3rem;
  height: 25%;
  width: auto;
}

.outer-wrapper {
    height: 100vw;
    width: 500vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;            /* Ajouter molette*/
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background: url("bkg11.png");
    background-size: auto 100vh;
    background-repeat: repeat-x;
}

.info, .experience, .competence, .formulaire { /*box*/
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-box {
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
}

.photo {
  margin-top: 4%;
}

.competence-box {
  display : flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
}

.flotte {
  float: left;
  }

.experience-box {
  text-align: left;
  color: var(--light);
  font-size: var(--font-size);
  width: var(--width-box);
  background-color: var(--dark-box-opacity);
  border: var(--border-box);
}

form {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form label {
  text-align: left;
  float: left;
}

form input {
  width: 100%;
  margin: 0 0 20px;
  height: 30px;
}

form textarea {
  width: 100%;
  margin: 0 0 20px;
  height: 120px;
}

form input[type="submit"] {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: solid;
  border-width: 1px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  width: 80px;
  float: right;
  box-shadow: 2px 2px #333;
}

h2 {
  text-align: center ;
  color: white;
  font-size: 200%;
  text-shadow: rgb(255, 255, 255) 2px 2px 5px;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  font-size: 1em;
  text-shadow: rgb(255, 255, 255) 2px 2px 5px;
  text-decoration: none;
}

a:hover {
  color: rgb(18, 139, 24);
  font-size: xxx-large;
  transition-duration: 500ms;
}